/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/gymStaff_images
/public/gymSubscription_images
public/gymProfile_images
public/adminSubscription_images
public/user_images
database/migrations/2024_05_08_095910_create_gym_enquiries_table.php
public/gymEnquiry_images/1715169786_black_logo_gym.png
.gitignore
public/gymEnquiry_images/1715169857_black_logo_gym.png
public/gymEnquiry_images/1715170225_black_logo_gym.png
public/gymEnquiry_images/1715170351_black_logo_gym.png
public/gymEnquiry_images/1715170593_black_logo_gym.png
public/gymEnquiry_images/1715170699_black_logo_gym.png
public/gymEnquiry_images/1715171165_black_logo_gym.png
public/gymEnquiry_images/1715232700_video_bg1.png
public/gymEnquiry_images/1715244326_testing-removebg-preview (2).png
public/gymEnquiry_images/1715244135_black_logo_gym.png
public/gymEnquiry_images/1715241311_istockphoto-1387134070-612x612.jpg
public/gymEnquiry_images/1715228949_testing-removebg-preview (2).png
public/gymEnquiry_images/1715324596_white pasta (1).jpg
public/admin_user_images/1715343840_black_logo_gym.png
public/admin_user_images/1715343905_12.jpeg
public/admin_user_images/1715422859_12.jpeg
public/admin_user_images/1715423036_dark coffee final.jpg
public/admin_user_images/1715423505_black_logo_gym.png
public/admin_user_images/1715423577_black_logo_gym.png
public/admin_user_images/1715424624_need.jpg
public/admin_user_images/1715424637_Supplier.png
public/admin_user_images/1715424656_order.jpg
public/admin_user_images/1715425340_video_bg1.png
public/admin_user_images/1715425409_360_F_358464952_b3xHBcdfnCb8kZ8T2sGsHuXaedaGzJQQ.jpg
public/gymEnquiry_images/1715776217_logo.png
public/admin_user_images/1715776410_compny_photo.jpg
public/admin_coupon_images/1715944358_search.png
public/admin_coupon_images/1715944559_user (1).png
public/admin_coupon_images/1715944308_coupon1.png
database/migrations/2024_05_17_115649_create_admin_coupons_table.php
public/admin_coupon_images/1715945505_notification (1).png
database/migrations/2024_04_25_081123_create_admin_coupons_table.php
public/admin_coupon_images/1715946614_trolley.png
public/admin_coupon_images/1715946861_notification.png
public/admin_coupon_images/1715947092_down-removebg-preview.png
public/admin_user_images/1715945461_search.png
public/adminAdversit_images/1715947152_1 (1).jpg
database/migrations/2024_04_25_081123_create_admin_coupons_table.php
database/migrations/2024_04_25_081123_create_admin_coupons_table.php
public/admin_coupon_images/1716006471__barcode_f9443d9d-30b4-4036-bf52-4ed9b23ffcfc.png
public/admin_coupon_images/1716006494_app1.png
public/adminAdversit_images/1716006534_software1.png
public/admin_user_images/1716017462_black_logo_gym.png
public/admin_user_images/1716023045_Untitled.png
